@import url(./__close/popup__close.css);
@import url(./__container/popup__container.css);
@import url(./__field/popup__field.css);
@import url(./__fields/popup__fields.css);
@import url(./__form/popup__form.css);
@import url(./__overlay/popup__overlay.css);
@import url(./__submit/popup__submit.css);
@import url(./__add-title/popup__add-title.css);
@import url(./__profile-title/popup__profile-title.css);
@import url(./__image-title/popup__image-title.css);
@import url(./__image/popup__image.css);
@import url(./__image-container/popup__image-container.css);

.popup {
    display: flex;
    visibility: hidden;
    height: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    z-index: 2;
    opacity: 0;
    transition-property: visibility ,opacity;
    transition-duration: 0s, 1s;
    transition-delay: 1s, 0s;
  }