.header {
    padding: 45px 199px 40px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1024px) {
    .header {
        padding: 28px 80px 31px;
    }
}

@media screen and (max-width: 450px) {
    .header {
        padding: 28px 27px 31px;
    }
}