@import url(./_profile/popup__close_profile.css);
@import url(./_add/popup__close_add.css);
@import url(./_card/popup__close_card.css);

.popup__close {
    background-image: url(../../../images/popup-close_icon.svg);
    height: 40px;
    background-repeat: no-repeat;
    width: 40px;
    border: none;
    background-color: rgba(0,0,0,0);
    position: absolute;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}