@import url(../vendor/normalize.css);
@import url(../vendor/inter/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/grid/grid.css);
@import url(../blocks/cards/cards.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__opened/popup__opened.css);

.cards__trash{
    height: 19.3px;
    width: 18px;
    background-image: url(../images/trash.svg);
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: transparent;
}

.cards__trash:hover {
    opacity: 0.6;
    cursor: pointer;
}

.cards__trash:focus {
    outline: none;
}

.popup__mesto {
    margin-top: 54px;
}

@media screen and (max-width:495px) {
    .popup__mesto {
        margin-top: 36px;
    }
}

.popup__links {
    margin-top: 29px;
}

@media screen and (max-width: 495px) {
    .popup__links {
        margin-top: 20px;
    }
}

.popup__title_profile {
    margin: 34px 5px 0;
}

.cards__like_active {
    background-image: url(../images/like-aktive.svg);
}